/* poiret-one-regular - latin */
@font-face {
    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap') format('woff'), /* Modern Browsers */
  }


body {
    margin: 0px;
    background-color: black;
    color: white;
    font-size: 1em;
    font-family: 'Poiret One', cursive;
}
.MuiButton-containedPrimary {
    color: white m !important;
    background-color: #ff0000a6 !important;
}
.MuiButton-contained.Mui-disabled {
    color: rgba(255, 255, 255, 0.63) !important;
    background-color: #ff8282a6 !important;
}
.MuiAppBar-colorPrimary {
    color:black !important;
    background-color: white !important;
}
.MuiTypography-h3 {
    font-family: 'Poiret One' !important;
}

.MuiTypography-h1 {
    font-family: 'Poiret One' !important;
}

.MuiCard-root, .MuiPaper-root {
    color: white !important;
    background-color: #1a1a1a !important;
    border: 1px solid #606060 !important;
}
.MuiInputBase-input {
    color:white !important
}
.MuiFormLabel-root {
    color:white !important; 
}
.MuiFormLabel-root.Mui-disabled  {
    color:rgb(255 255 255 / 61%) !important; 
}
.MuiInput-underline:after {
    border-bottom-color: 'green' !important;
}
.MuiTypography-colorTextSecondary {
    color:#ffffffd1 !important
}

.MuiTabScrollButton-root {
    width: 10px !important;
}
.MuiToolbar-gutters {
    padding-left: 8px !important;
    padding-right: 8px !important;
}
  
  .embla__viewport {
    overflow: hidden;
    width: 100%;
  }
  
  .embla__viewport.is-draggable {
    cursor: move;
    cursor: grab;
  }
  
  .embla__viewport.is-dragging {
    cursor: grabbing;
  }
  
  .embla__container {
    display: flex;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: transparent;
    margin-left: -10px;
  }
  
  .embla__slide {
    position: relative;
    min-width: 100%;
    padding-left: 10px;
  }