/* poiret-one-regular - latin */
@font-face {
    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap') format('woff'), /* Modern Browsers */
  }


body {
    margin: 0px;
    background-color: black;
    color: white;
    font-size: 1em;
    font-family: 'Poiret One', cursive;
}
.MuiAppBar-colorPrimary {
    color:black !important;
    background-color: white !important;
}
.MuiTypography-h3 {
    font-family: 'Poiret One' !important;
}

